@model MoodTracker.ViewModels.DailyMoodIndexViewModel;

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link href="@Url.Content("~/css/moodTable.css")" rel="stylesheet" type="text/css" />
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @foreach (var month in Model.Dates) {
    <tr>
        <th>
            @Html.DisplayFor(model => month[0].Month)
        </th>

        @foreach (var day in month) {
            <td>
                <div class="moodCell tooltipContainer" style="@("background-color:" + (Model.DailyMoods.ContainsKey(day) ? Model.DailyMoods[day].Mood.Color : "#ffffff") + ";")">
                    @if (Model.DailyMoods.ContainsKey(day)) {
                        <div class="actionTooltip">
                            <a asp-action="Edit" asp-route-id="@Model.DailyMoods[day].Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@Model.DailyMoods[day].Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@Model.DailyMoods[day].Id">Delete</a>
                        </div>
                    }
                </div>
            </td>
        }
    </tr>
    }
</table>
